html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

fieldset,
h1 {
	border: 0 none;
	margin: 0;
	padding: 10px;
}

h1 {
	font-size: 22px;
}

textarea {
	width: 500px;
	height: 150px;
}