<script>
	let count = 3;
	const email_template = `Ahoj kolego jménem [[give_name]],
připrav si dárek v hodnotě kolem 100 Kč pro kolegu [[get_name]].

--
Ivácký Vánoční Automat`;
</script>

<h1>Secret satan losátor</h1>


<form action="/api/send.php" method="POST">

	<fieldset>
		<label>Počet lidí: <input type="number" bind:value={count} min=3></label>
	</fieldset>

	{#each Array(count) as _, i}
	<fieldset>
		<input type="hidden" name="data[{i}][id]" value="{i}">
		<input type="text" name="data[{i}][name]" value="" placeholder="jméno">
		<input type="text" name="data[{i}][mail]" value="" placeholder="email">
	</fieldset>
	{/each}

	<fieldset>
		<label>
			Text zprávy:<br>
			Jde využít kódy<br>
			<code>[[give_name]]</code> pro jméno darujícího,<br>
			<code>[[give_mail]]</code> pro email darujícího,<br>
			<code>[[get_name]]</code> pro jméno obdarovaného,<br>
			<code>[[get_mail]]</code> pro email obdarovaného<br>
			<textarea name="email_template">{email_template}</textarea>
		</label>
	</fieldset>

	<fieldset>
		<input type="submit" value="odeslat výsledky losování do emailů">
	</fieldset>
</form>

